.logo-image--icc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 42px;
    width: 483px;
    height: 483px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.10);
}

.icc-image {
    display: block;
}

.icc-image--fade-in {
	animation: icc-image--fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

@keyframes icc-image--fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.scale-in-center {
	animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.logo-image--jus-mundi {
    position: absolute;
    top: 450px;
    z-index: 2;
    width: 187.125px;
    height: 187.125px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 0px 192px 0px rgba(0, 0, 0, 0.10);
    background-image: url(/images/logo_jm.svg);
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    background-repeat: no-repeat;
}

.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  3s both;
}

@keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.logo-image--documents {
    position: absolute;
    left: 50px;
    width: 478px;
    height: 478px;
    border-radius: 50%;
    background-image: url(/images/output-onlinegiftools.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.appear-in-center {
	animation: appear-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  3s both;
}
@keyframes appear-in-center {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }