@font-face {
    font-family: 'Larken';
    font-weight: bold;
    font-display: swap;
    src: url('~/assets/fonts/Larken-Bold.woff2') format('woff2');
  }

@font-face {
    font-family: 'Larken';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('~/assets/fonts/Larken-BoldItalic.woff2') format('woff2');
  }

@font-face {
    font-family: 'Larken';
    font-weight: 800;
    font-display: swap;
    src: url('~/assets/fonts/Larken-ExtraBold.woff2') format('woff2');
  }

@font-face {
    font-family: 'Larken';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('~/assets/fonts/Larken-Italic.woff2') format('woff2');
  }

@font-face {
    font-family: 'Larken';
    font-weight: 300;
    font-display: swap;
    src: url('~/assets/fonts/Larken-Light.woff2') format('woff2');
  }

@font-face {
    font-family: 'Larken';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url('~/assets/fonts/Larken-LightItalic.woff2') format('woff2');
  }

@font-face {
    font-family: 'Larken';
    font-weight: normal;
    font-display: swap;
    src: url('~/assets/fonts/Larken-Regular.woff2') format('woff2');
  }

@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: normal;
    font-display: swap;
    src: url('~/assets/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  }

@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-display: swap;
    src: url('~/assets/fonts/Lato-Bold.woff2') format('woff2');
  }