.hero {
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #F5F5F5 69.79%);
}

.hero__content {
    height: 100%;
    display: flex;
}

.hero__section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 50%;
}

.hero__title {
    font-family: Larken;
    font-size: 56px;
    font-style: normal;
    font-weight: bold;
    line-height: 64px;
    letter-spacing: -1px;
    margin-bottom: 32px;
}

.hero__text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 93px;
}