.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: var(--main);
    margin-bottom: 64px;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer__logos {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 64px;
    align-items: center;
    justify-content: center;
}